// 'npm run scss' for live compiling

$primary: #f99e1a;
$primary-faded: #f9a01a9f;
$secondary: #43484c;
$blue: #218ffe;
$tertiary: #405275;
$gray: #2d2f34;
$light: #f0f7fce6;
$fakeblack: #232323;
$enable-responsive-font-sizes: true;
$enable-shadows: true;
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// FONTS
@font-face {
  src: url("./fonts/futura_light.ttf");
  font-family: "Futura";
}
@font-face {
  src: url("./fonts/big_noodle.ttf");
  font-family: "Bignoodle";
}
@font-face {
  src: url("./fonts/big_noodle_oblique.ttf");
  font-family: "Bignoodle_Tilt";
}
// Fin fonts

// Classes générales
body * {
  color: $fakeblack;
  font-family: "Futura";
  font-size: 1.1rem;
}

.h1 {
  @extend .ml-3;
  @extend .pt-3;
  font-family: "Bignoodle";
}

.banniere {
  width: 100%;
}

// Mixins
@mixin center-text {
  width: fit-content;
  margin: auto;
}

.nowrap {
  flex-wrap: nowrap;
}
// Fin mixins

// Fil Ariane
li.breadcrumb-item {
  a {
    color: $gray-200;
  }
  &.active {
    color: $gray-500;
    &::before {
      color: $gray-500;
    }
  }
}

// Fin fil ariane

a.active {
  text-decoration: underline;
  color: $primary;
  @extend .py-5;
}

.link {
  text-decoration: none;
  transition: color 0.5s;
  color: $fakeblack;
  &:hover {
    text-decoration: underline;
    color: $primary;
  }
  &:active {
    text-decoration: none;
    color: $blue;
  }
  &:focus {
    @extend .border;
    @extend .border-primary;
    @extend .rounded;
  }
}
// Fin classes générales

// Header
header {
  max-width: 100%;
}

nav form {
  @extend .ml-2;
  & input {
    font-size: 1.3rem !important;
  }
  & button {
    @extend .mx-1;
  }
}

.navbar-sec {
  & .nav-item {
    @extend .py-1;
    @extend .px-5;
    @extend .mx-2;
    @extend .my-2;
    background-color: $primary-faded;
  }
}

.navbar a.link-nav {
  color: $fakeblack;
  opacity: 0.7;
  text-decoration: none;
  transition: opacity 0.2s;
  &:hover {
    text-decoration: underline;
    opacity: 1;
  }
  &:active {
    text-decoration: none;
    opacity: 0.9;
  }
}

.nav-item {
  & * {
    @extend .py-1;
  }
  & img {
    @extend .mr-2;
  }
}

.relative {
  position: relative;
}
// Fin header

// Modal
.modal a {
  font-size: 1.1rem;
  font-family: "Futura";
  &:visited {
    color: $tertiary;
  }
}

// Fin modal

// Main
main {
  max-width: 100%;
  background-image: url("./assets/img/background/background_tall.jpg");
  background-repeat: no-repeat;
}

main * {
  max-width: 100%;
}

.logo {
  width: 3rem;
}

.navbar-prime {
  opacity: 0.8;
}

.carousel img {
  height: 500px;
  width: auto;
  margin: auto;
}

.carousel-title {
  @extend .px-3;
  @extend .py-1;
  @extend .rounded;
  @extend .bg-primary;
  @include center-text;
  color: $light;
}

.carousel-type-d {
  background-color: $danger;
  @extend .rounded-pill;
  @extend .px-3;
  @include center-text;
  color: $light;
}
.carousel-type-s {
  background-color: $blue;
  @extend .rounded-pill;
  @extend .px-3;
  @include center-text;
  color: $light;
}
.carousel-type-t {
  background-color: $gray-800;
  @extend .rounded-pill;
  @extend .px-3;
  @include center-text;
  color: $light;
}

.text {
  color: $fakeblack;
  line-height: 2rem;
}

// Fin main

// Footer
footer {
  & a {
    @extend .text-muted;
    @extend .text-uppercase;
    font-size: 1rem;
    &:hover {
      color: $fakeblack !important;
    }
    @extend .col-md;
    @extend .my-2;
  }
  & blockquote {
    @extend .mt-3;
    @extend .mb-0;
    @extend .py-2;
  }
  & section * {
    @extend .mx-1;
    width: 2.5rem;
  }
}
// Fin footter

// Form

// Difficulté

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.note {
  width: fit-content;
}

.note > input {
  display: none;
}
.note > label:before {
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.note > .half:before {
  content: "\f089";
  position: absolute;
}

.note > label {
  color: $light;
  float: right;
}

.note > input:checked ~ label,
.note:not(:checked) > label:hover,
.note:not(:checked) > label:hover ~ label {
  color: $primary;
}

.note > input:checked + label:hover,
.note > input:checked ~ label:hover,
.note > label:hover ~ input:checked ~ label,
.note > input:checked ~ label:hover ~ label {
  color: $primary-faded;
}

// Fin difficulté

#maitre {
  position: absolute;
  top: 0;
  left: 0;
  width: 86%;
  opacity: 0;
  padding-left: 3rem;
}

// Fin form

// Cards

.card {
  width: 48%;
  & .list {
    list-style-image: url("./assets/icons/overwatch.svg");
    list-style-position: inside;
    & ul {
      list-style: none;
      @extend .ml-2;
    }
    & * {
      @extend .text-truncate;
    }
  }
  @media (max-width: 991px) {
    width: 32%;
  }
}

@keyframes apparition {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.card1 {
  & div:first-child {
    animation: apparition 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    & + div {
      animation: apparition 1s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-delay: 1s;
    }
  }
}
.card2 {
  & div:first-child {
    animation: apparition 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 2s;
    & + div {
      animation: apparition 1s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-delay: 3s;
    }
  }
}

// Fin cards

// Table
thead th {
  @extend .text-center;
}
tbody td {
  @extend .text-right;
}
// Fin table
