// 'npm run scss' for live compiling

$primary: #f99e1a;
$primary-faded: #f9a01a9f;
$secondary: #43484c;
$blue: #218ffe;
$tertiary: #405275;
$gray: #2d2f34;
$light: #e9ecef;
$fakeblack: #232323;
$enable-responsive-font-sizes: true;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

// FONTS
@font-face {
  src: url("../fonts/futura/futura\ light\ bt.ttf");
  font-family: "Futura";
}
@font-face {
  src: url("../fonts/big_noodle.ttf");
  font-family: "Bignoodle";
}
@font-face {
  src: url("../fonts/big_noodle_oblique.ttf");
  font-family: "Bignoodle_Tilt";
}
// Fin fonts

// Classes générales
body {
  background-image: url("../assets/img/background/background.jpg");
  background-repeat: no-repeat;
}

body * {
  color: $fakeblack;
  font-family: "Futura";
  font-size: 1.1rem;
}

// Mixins
@mixin center-text {
  width: fit-content;
  margin: auto;
}

.nowrap {
  flex-wrap: nowrap;
}
// Fin mixins

.link {
  text-decoration: none;
  transition: color 0.5s;
  color: $fakeblack;
  &:hover {
    text-decoration: underline;
    color: $primary;
  }
  &:active {
    text-decoration: none;
    color: $blue;
  }
  &:focus {
    @extend .border;
    @extend .border-primary;
    @extend .rounded;
  }
}
// Fin classes générales

// Header
header {
  max-width: 100%;
}

nav form {
  @extend .ml-2;
  & input {
    font-size: 1.3rem !important;
  }
  & button {
    @extend .mx-1;
  }
}

.navbar-sec {
  & .nav-item {
    @extend .py-1;
    @extend .px-5;
    @extend .mx-2;
    @extend .my-2;
    background-color: $primary-faded;
  }
}

.navbar a.link-nav {
  color: $fakeblack;
  opacity: 0.7;
  text-decoration: none;
  transition: opacity 0.2s;
  &:hover {
    text-decoration: underline;
    opacity: 1;
  }
  &:active {
    text-decoration: none;
    opacity: 0.9;
  }
}

.nav-item {
  & * {
    @extend .py-1;
  }
  & img {
    @extend .mr-2;
  }
}

.relative {
  position: relative;
}
// Fin header

// Modal
.modal a {
  font-size: 1.1rem;
  font-family: "Futura";
  &:visited {
    color: $tertiary;
  }
}

// Fin modal

// Main
main {
  max-width: 100%;
}

main * {
  max-width: 100%;
}

.logo {
  width: 3rem;
}

.navbar-prime {
  & * {
    @extend .my-md-5;
  }
}

.carousel img {
  height: 500px;
  width: auto;
  margin: auto;
}

.carousel-title {
  @extend .px-3;
  @extend .py-1;
  @extend .rounded;
  @extend .bg-primary;
  @include center-text;
  color: $light;
}

.carousel-type-d {
  background-color: $danger;
  @extend .rounded-pill;
  @extend .px-3;
  @include center-text;
  color: $light;
}
.carousel-type-s {
  background-color: $blue;
  @extend .rounded-pill;
  @extend .px-3;
  @include center-text;
  color: $light;
}
.carousel-type-t {
  background-color: $gray-800;
  @extend .rounded-pill;
  @extend .px-3;
  @include center-text;
  color: $light;
}

.text {
  color: $fakeblack;
  line-height: 2rem;
}

// Fin main

// Footer
footer {
  & a {
    @extend .text-muted;
    @extend .text-uppercase;
    font-size: 1rem;
    &:hover {
      color: $fakeblack !important;
    }
    @extend .col-md;
    @extend .my-2;
  }
  & blockquote {
    @extend .mt-5;
    @extend .mb-0;
    @extend .py-2;
  }
  & section *{
    @extend .mx-2;
    width: 2.5rem;
  }
}
// Fin footter
